{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>The Kidney Center</title>
{% endblock %}
{% block content%}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading"><h1><b>Welcome to The Kidney Center!</b></h1></div>
                <p>Check out your progress!</p>
            </header>
<body>
    <style>
        .whole {
            display: grid;
            grid-template:
                    "a a b"
                    "a a b";
        }

        .graphs-all {
            display: grid;
            grid-area: "a";
            grid-template:
                    "a b"
                    "c d";
        }

        .each-graph {
            width: 300px;
            height: 300px;
        }

        .recco {
            grid-column: 2;
            width: auto;
        }

    </style>
    <div id="whole" class="whole">
        <div id="graphs" class="graphs-all">
            <div id="graph" class="each-graph" style='grid-area: "a/a/a/a"'>
                <canvas id="myChart"></canvas>
            </div>
            <div id="graph2" class="each-graph" style='grid-area: "b/b/b/b"'>
                <canvas id="myChart4"></canvas>
            </div>
            <div id="graph3" class="each-graph" style='grid-area: "c/c/c/c"'>
                <canvas id="myChart2"></canvas>
            </div>
            <div id="graph4" class="each-graph" style='grid-area: "d/d/d/d"'>
                <canvas id="myChart6"></canvas>
            </div>
        </div>
        <div id="text" class="recco" style="text-align: left">
            <p>We want to help you succeed.  Here are some tips to get you started, but remember
                that it's also important to speak with medical professionals to formulate your health plan:
            </p>
            <ol>
                <li><b>Avoid sodium!</b>  Salt can be damaging.  Choose foods with the ‘low sodium’ label.  Avoid processed foods, as these use lots of sodium.  Use spices other than salt to flavor your foods.</li>
                <li><b>Moderate protein!</b>  While protein is an essential nutrient, overconsuming it can produce too much waste for your kidneys to handle.  Speak with your doctor about what amount of protein is right for you.</li>
                <li><b>Prepare food in a healthy way!</b>  Instead of frying, grill.  Use less fat.  Avoid trans and saturated fats.</li>
                <li><b>Lower Phosphorus!</b>Check out <a href="https://www.mayoclinic.org/diseases-conditions/chronic-kidney-disease/expert-answers/food-and-nutrition/faq-20058408#:~:text=Check%20food%20labels%20carefully%20%20%20%20Higher,sour%20%20...%20%205%20more%20rows%20">Mayo Clinic’s advice</a> on finding low-phosphorus food.</li>
                <li><b>Balance your potassium levels!</b>Look at <a href="https://www.niddk.nih.gov/-/media/Files/Health-Information/Health-Professionals/Kidney-Disease/PotassiumTipsforPeopleCKD_EN.pdf">NIH’s advice</a> for managing your potassium levels.</li>
                </ol>            
                
            <p> Some Recommended Foods
                <ul>
                <li>Lean cuts of meat</li>
                <li>Poultry</li>
                <li>Fish</li>
                <li>Beans</li>
                <li>Vegetables</li>
                <li>Fruits</li>
                <li>Low-fat dairy</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="graphs2">
    <div class = "items" >
            <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['water', 'water to go'],
                    datasets: [{
                        label: 'amount',
                        data: [{{chart_water}}, {{chart_waterNOT}}],
                        backgroundColor: [                                       
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(25, 80, 115, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        subtitle: {
                            display: true,
                            text: {% if chart_water > 100 %}"You've exceed your water limit for the day!"{% else %}""{% endif %},
                            position: 'bottom'
                        },
                        title: {
                            display: true,
                            text: "Daily Target: " + {{RDA_water}} + " mL"
                        }
                    }                     
                }
            });
            </script>
    </div>
    <div class = "items" >
        <script>
        const ctx4 = document.getElementById('myChart4').getContext('2d');
        const myChart4 = new Chart(ctx4, {
            type: 'doughnut',
            data: {
                labels: ['protein', 'protein to go'],
                datasets: [{
                    label: 'amount',
                    data: [{{chart_protein}}, {{chart_proteinNOT}}],
                    backgroundColor: [
                        'rgba(211, 167, 55, 0.8)',
                        'rgba(105, 83, 27, 0.8)',
    
                    ],
                    borderColor: [
                        'rgba(211, 167, 55, 1)',
                        'rgba(211, 167, 55, 1)',
    
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    subtitle: {
                        display: true,
                        text: {% if chart_protein > 100 %}"You've exceed your protein limit for the day!"{% else %}""{% endif %},
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: "Daily Target: " + Math.round({{RDA_protein}},2) + " grams"
                    } 
                }                     
            }
        });
        </script>
    </div>
    <div class = "items" >
            <script>
            const ctx2 = document.getElementById('myChart2').getContext('2d');
            const myChart2 = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    labels: ['sodium', 'sodium to go'],
                    datasets: [{
                        label: 'amount',
                        data: [{{chart_na}}, {{chart_naNOT}}],
                        backgroundColor: [
                            'rgba(211, 69, 55, 0.8)',
                            'rgba(105, 35, 27, 0.6)',
                        ],
                        borderColor: [
                            'rgba(211, 69, 55, 1)',
                            'rgba(211, 69, 55, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        subtitle: {
                            display: true,
                            text: {% if chart_na > 100 %}"You've exceed your sodium limit for the day!"{% else %}""{% endif %},
                            position: 'bottom'
                        },
                        title: {
                            display: true,
                            text: "Daily Target: " + {{RDA_na}} + " mg"
                        }
                    }                     
                }
            });
            </script>
    </div>
    <div class = "items" >
        <script>
        const ctx6 = document.getElementById('myChart6').getContext('2d');
        const myChart6 = new Chart(ctx6, {
            type: 'doughnut',
            data: {
                labels: ['carbohydrates', 'carbs to go'],
                datasets: [{
                    label: 'amount',
                    data: [{{chart_carbs}}, {{chart_carbsNOT}}],
                    backgroundColor: [
                        'rgba(151, 55, 211, 0.8)',
                        'rgba(75, 26, 100, 0.8)'
                    ],
                    borderColor: [
                        'rgba(151, 55, 211, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    subtitle: {
                        display: true,
                        text: {% if chart_carbs > 100 %}  "You've exceed your carb limit for the day!"{% else %}""{% endif %},
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: "Daily Target: " + {{RDA_carbs}} + " grams",
                    }
                }
            }
        });
        </script>
    </div>
    </div>
</body>

{% endblock %}